# PostgreSQL
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=airflow

# Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key

# MLflow
MLFLOW_PORT=5000

# Twilio
TWILIO_ACCOUNT_SID=Twilio_account_SID
TWILIO_AUTH_TOKEN=Authorizer_token
TWILIO_SANDBOX_NUMBER=Twilio_sandbox_number
TWILIO_RECIPIENT_NUMBER=Your_Contact_Info